Source: checkinstall
Section: admin
Priority: optional
Maintainer: Felipe Sateler <fsateler@gmail.com>
Build-Depends: debhelper (>= 7.0.0), gettext, docbook-to-man, quilt
Standards-Version: 3.8.0
Vcs-Git: git://git.debian.org/git/collab-maint/checkinstall.git
Vcs-Browser: http://git.debian.org/?p=collab-maint/checkinstall.git;a=summary
Homepage: http://asic-linux.com.mx/~izto/checkinstall/

Package: checkinstall
Architecture: any
Depends: ${shlibs:Depends}, file, dpkg-dev, ${misc:Depends}
Recommends: make
Suggests: gettext
Replaces: installwatch
Conflicts: installwatch
Description: installation tracker
 CheckInstall keeps track of all the files created or
 modified by your installation script ("make install"
 "make install_modules", "setup", etc), builds a
 standard binary package and installs it in your
 system giving you the ability to uninstall it with your
 distribution's standard package management utilities.

